Repository tuev/ec-temp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, git add --force, prettier --write, npm run stylelint:fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint",
    "git add --force"
  ],
  "*.json": [
    "prettier --write",
    "git add --force"
  ],
  "*.scss": [
    "npm run stylelint:fix",
    "git add --force"
  ]
}

chore: 🤖 remove redundant script
  package.json
  src/components/molecules/Modal/Modal.tsx
Due: git add --force, prettier --write

docs: ✏️ update README
  README.md
Due: none

fix(modal): add test for modal
  src/components/molecules/Modal/__test__/modal.spec.tsx
Due: none

test: 💍 update modal tes
  src/components/molecules/Modal/__test__/modal.spec.tsx
Due: none

feat: 🎸 atom burger icon
  src/components/atoms/BurgerIcon/BurgerIcon.mdx
  src/components/atoms/BurgerIcon/BurgerIcon.stories.tsx
  src/components/atoms/BurgerIcon/BurgerIcon.styled.ts
  src/components/atoms/BurgerIcon/BurgerIcon.tsx
  src/components/atoms/BurgerIcon/BurgerIcon.types.ts
  src/components/atoms/BurgerIcon/__test__/__snapshots__/bugerIcon.spec.tsx.snap
  src/components/atoms/BurgerIcon/__test__/bugerIcon.spec.tsx
  src/components/atoms/BurgerIcon/index.ts
  src/components/molecules/Modal/Modal.stories.tsx
Due: none

fix: 🐛 fix styling in burger icon atom
  src/components/atoms/BurgerIcon/BurgerIcon.styled.ts
  src/components/atoms/BurgerIcon/__test__/__snapshots__/bugerIcon.spec.tsx.snap
Due: none

fix: 🐛 correct type of some atoms
  src/components/atoms/Button/Button.types.ts
  src/components/atoms/Checkbox/Checkbox.types.ts
  src/components/atoms/NumberComp/NumberComp.types.ts
  src/components/atoms/NumberInput/NumberInput.types.ts
  src/components/atoms/Radio/Radio.types.ts
  src/components/atoms/Rating/Rating.types.ts
  src/components/atoms/Slider/Slider.types.ts
  src/components/atoms/Tag/Tag.types.ts
  src/components/atoms/Typography/Typography.types.ts
  src/components/atoms/ViewMode/ViewMode.types.ts
Due: none

fix: 🐛 correct atom types
  src/components/atoms/Button/Button.types.ts
  src/components/atoms/Checkbox/Checkbox.types.ts
  src/components/atoms/NumberComp/NumberComp.types.ts
  src/components/atoms/NumberInput/NumberInput.types.ts
  src/components/atoms/Radio/Radio.types.ts
  src/components/atoms/Rating/Rating.types.ts
  src/components/atoms/Slider/Slider.types.ts
  src/components/atoms/Tag/Tag.types.ts
  src/components/atoms/Typography/Typography.types.ts
  src/components/atoms/ViewMode/ViewMode.types.ts
Due: none

feat: 🎸 add pagination molecule
  .vscode/testTemplate.code-snippets
  src/components/molecules/Pagination/Pagination.mdx
  src/components/molecules/Pagination/Pagination.stories.tsx
  src/components/molecules/Pagination/Pagination.styled.ts
  src/components/molecules/Pagination/Pagination.tsx
  src/components/molecules/Pagination/Pagination.types.ts
  src/components/molecules/Pagination/__test__/Pagination.spec.tsx
  src/components/molecules/Pagination/__test__/__snapshots__/Pagination.spec.tsx.snap
  src/components/molecules/Pagination/index.ts
Due: none

chore: 🤖 add react-testing-library
  .babelrc
  config-overrides.js
  package.json
  src/setupTests.js
  tslint.json
Due: npm run lint, git add --force, prettier --write

test: 💍 add test for pagination molecule
  src/components/molecules/Pagination/Pagination.stories.tsx
  src/components/molecules/Pagination/Pagination.tsx
  src/components/molecules/Pagination/Pagination.types.ts
  src/components/molecules/Pagination/__test__/Pagination.spec.tsx
  src/components/molecules/Pagination/__test__/__snapshots__/Pagination.spec.tsx.snap
  src/components/molecules/Pagination/utils.ts
Due: none

style: 💄 fix styling for pagination
  src/components/molecules/Pagination/Pagination.mdx
  src/components/molecules/Pagination/Pagination.stories.tsx
  src/components/molecules/Pagination/Pagination.styled.ts
  src/components/molecules/Pagination/Pagination.tsx
  src/components/molecules/Pagination/__test__/__snapshots__/Pagination.spec.tsx.snap
Due: none

perf: ⚡️ changing linting for ts/es
  .eslintignore
  .eslintrc
  .lintstagedrc
  package.json
  src/components/atoms/NumberComp/__test__/numberComp.spec.tsx
  src/components/atoms/Typography/Typography.tsx
  src/components/molecules/Modal/__test__/modal.spec.tsx
  tsconfig.json
Due: git add --force, prettier --write

fix: 🐛 clean tslint
  src/components/atoms/Typography/Typography.styled.ts
  src/components/molecules/Pagination/utils.ts
  src/serviceWorker.ts
Due: none

feat: 🎸 color filter molecule
  src/components/molecules/ColorFilter/ColorFilter.stories.tsx
  src/components/molecules/ColorFilter/ColorFilter.tsx
  src/components/molecules/ColorFilter/ColorFilter.types.ts
  src/components/molecules/ColorFilter/ColorStories.mdx
  src/components/molecules/ColorFilter/__test__/__snapshots__/colorFilter.spec.tsx.snap
  src/components/molecules/ColorFilter/__test__/colorFilter.spec.tsx
  src/components/molecules/ColorFilter/index.ts
  src/components/molecules/Pagination/Pagination.types.ts
Due: none

fix: 🐛 fix some tslint
  src/components/atoms/BlogIcon/BlogIcon.types.ts
  src/components/atoms/NumberComp/NumberComp.stories.tsx
  src/components/atoms/Rating/Rating.stories.tsx
  src/components/atoms/Slider/Slider.stories.tsx
  src/components/atoms/Typography/Typography.stories.tsx
  src/components/molecules/Pagination/Pagination.stories.tsx
Due: none

fix: 🐛 fix some minor eslint config
  .eslintrc
  .storybook/webpack.config.js
  package.json
  src/components/atoms/BlogIcon/BlogIcon.stories.tsx
  src/components/atoms/Checkbox/Checkbox.stories.tsx
  tsconfig.json
  tslint.json
Due: npm run lint, git add --force, prettier --write

refactor: 💡 change name color filter molecule to colorSelect
  .eslintrc
  src/components/molecules/ColorFilter/index.ts
  src/components/molecules/ColorSelect/ColorSelect.stories.tsx
  src/components/molecules/ColorSelect/ColorSelect.tsx
  src/components/molecules/ColorSelect/ColorSelect.types.ts
  src/components/molecules/ColorSelect/ColorStories.mdx
  src/components/molecules/ColorSelect/__test__/__snapshots__/colorSelect.spec.tsx.snap
  src/components/molecules/ColorSelect/__test__/colorSelect.spec.tsx
  src/components/molecules/ColorSelect/index.ts
Due: none

feat: 🎸 add size select molecule
  src/components/molecules/SizeSelect/Size.styled.ts
  src/components/molecules/SizeSelect/Size.type.tsx
  src/components/molecules/SizeSelect/SizeSelect.mdx
  src/components/molecules/SizeSelect/SizeSelect.stories.tsx
  src/components/molecules/SizeSelect/SizeSelect.tsx
  src/components/molecules/SizeSelect/__test__/__snapshots__/sizeSelect.spec.tsx.snap
  src/components/molecules/SizeSelect/__test__/sizeSelect.spec.tsx
  src/components/molecules/SizeSelect/index.ts
Due: none

refactor: 💡 change file name in sizeSelect molecule
  src/components/molecules/SizeSelect/SizeSelect.styled.ts
  src/components/molecules/SizeSelect/SizeSelect.tsx
  src/components/molecules/SizeSelect/SizeSelect.types.tsx
Due: none

feat: 🎸 add price select molecule
  src/components/molecules/ColorFilter/ColorFilter.types.ts
  src/components/molecules/ColorFilter/__test__/colorFilter.spec.tsx
  src/components/molecules/PriceSelect/PriceSelect.mdx
  src/components/molecules/PriceSelect/PriceSelect.stories.tsx
  src/components/molecules/PriceSelect/PriceSelect.tsx
  src/components/molecules/PriceSelect/PriceSelect.types.ts
  src/components/molecules/PriceSelect/__test__/__snapshots__/priceSelect.spec.tsx.snap
  src/components/molecules/PriceSelect/__test__/priceSelect.spec.tsx
  src/components/molecules/PriceSelect/index.ts
Due: none

test: 💍 fix unnecessary test
  src/components/molecules/SizeSelect/SizeSelect.tsx
  src/components/molecules/SizeSelect/__test__/sizeSelect.spec.tsx
Due: none

test: 💍 remove unnecessary test
  src/components/molecules/PriceSelect/PriceSelect.tsx
  src/components/molecules/PriceSelect/__test__/priceSelect.spec.tsx
Due: none

test: 💍 fix some minor test
  package.json
  src/components/molecules/SizeSelect/SizeSelect.types.ts
Due: git add --force, prettier --write

feat: 🎸 brand selection molecule
  src/components/molecules/BrandSelect/BrandSelect.mdx
  src/components/molecules/BrandSelect/BrandSelect.stories.tsx
  src/components/molecules/BrandSelect/BrandSelect.tsx
  src/components/molecules/BrandSelect/BrandSelect.types.ts
  src/components/molecules/BrandSelect/__test__/BrandSelect.spec.tsx
  src/components/molecules/BrandSelect/__test__/__snapshots__/BrandSelect.spec.tsx.snap
  src/components/molecules/BrandSelect/index.ts
  src/components/molecules/ColorSelect/ColorSelect.stories.tsx
Due: none

fix: 🐛 fix lint
  src/components/molecules/BrandSelect/BrandSelect.stories.tsx
Due: none

feat: 🎸 add code generator for atoms + molecule
  .eslintignore
  generators/atom/atoms.tsx.hbs
  generators/atom/index.js
  generators/atom/index.tsx.hbs
  generators/atom/loadable.tsx.hbs
  generators/atom/stories.mdx.hbs
  generators/atom/stories.tsx.hbs
  generators/atom/styled.tsx.hbs
  generators/atom/test.tsx.hbs
  generators/index.js
  generators/molecule/index.js
  generators/molecule/index.tsx.hbs
  generators/molecule/loadable.tsx.hbs
  generators/molecule/molecule.tsx.hbs
  generators/molecule/stories.mdx.hbs
  generators/molecule/stories.tsx.hbs
  generators/molecule/styled.tsx.hbs
  generators/molecule/test.tsx.hbs
  generators/utils/componentExists.js
  package.json
  src/utils/loadable.tsx
  tsconfig.json
Due: npm run lint, git add --force, prettier --write

feat: 🎸 add generate for container/organism
  generators/index.js
  generators/molecule/stories.mdx.hbs
  generators/organism/index.js
  generators/organism/index.tsx.hbs
  generators/organism/loadable.tsx.hbs
  generators/organism/organism.tsx.hbs
  generators/organism/stories.mdx.hbs
  generators/organism/stories.tsx.hbs
  generators/organism/styled.tsx.hbs
  generators/organism/test.tsx.hbs
Due: npm run lint, git add --force

fix: 🐛 fix some unneccesary console when generating
  generators/utils/componentExists.js
Due: npm run lint, git add --force

feat(textarea): feature text area
  src/components/atoms/TextArea/TextArea.mdx
  src/components/atoms/TextArea/TextArea.stories.tsx
  src/components/atoms/TextArea/TextArea.styled.ts
  src/components/atoms/TextArea/TextArea.tsx
  src/components/atoms/TextArea/TextArea.types.ts
  src/components/atoms/TextArea/__test__/TextArea.spec.tsx
  src/components/atoms/TextArea/index.ts
Due: none

feat(textarea): feature text area
  src/components/atoms/TextArea/__test__/TextArea.spec.tsx
Due: none

feat(textarea): write test text area
  src/components/atoms/TextArea/TextArea.stories.tsx
  src/components/atoms/TextArea/TextArea.styled.ts
  src/components/atoms/TextArea/TextArea.tsx
  src/components/atoms/TextArea/TextArea.types.ts
  src/components/atoms/TextArea/__test__/TextArea.spec.tsx
  src/components/atoms/TextArea/__test__/__snapshots__/TextArea.spec.tsx.snap
Due: none

feat(textarea): write test text area
  src/components/atoms/TextArea/__test__/__snapshots__/TextArea.spec.tsx.snap
Due: none

feat(atom/image): atom image
  public/img.jpg
  src/components/atoms/Image/Image.mdx
  src/components/atoms/Image/Image.stories.tsx
  src/components/atoms/Image/Image.styled.ts
  src/components/atoms/Image/Image.tsx
  src/components/atoms/Image/Image.types.ts
  src/components/atoms/Image/__test__/Image.spec.tsx
  src/components/atoms/Image/__test__/__snapshots__/Image.spec.tsx.snap
  src/components/atoms/Image/index.ts
Due: none

fix: 🐛 fix test
  src/containers/organisms/ProductItem/__test__/ProductItem.spec.tsx
  src/setupTests.js
Due: npm run lint, git add --force

fix: 🐛 remove cache
  .circleci/config.yml
  src/containers/organisms/ProductItem/__test__/ProductItem.spec.tsx
  src/setupTests.js
Due: npm run lint, git add --force

test: 💍 fix test case
  .storybook/presets.js
  package.json
  src/components/atoms/BurgerIcon/BurgerIcon.styled.ts
  src/components/atoms/Button/__tests__/__snapshots__/button.spec.tsx.snap
  src/components/atoms/Checkbox/__test__/__snapshots__/checkbox.spec.tsx.snap
  src/components/atoms/NumberInput/NumberInput.types.ts
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.tsx.snap
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.tsx.snap
  src/components/atoms/Rating/__test__/__snapshots__/Rating.spec.tsx.snap
  src/components/atoms/Slider/Slider.styled.ts
  src/components/atoms/Slider/__test__/__snapshots__/Slider.spec.tsx.snap
  src/components/atoms/TextArea/TextArea.types.ts
  src/components/atoms/TextArea/__test__/__snapshots__/TextArea.spec.tsx.snap
  src/components/atoms/Typography/__test__/__snapshots__/Typography.spec.tsx.snap
  src/components/atoms/ViewMode/__test__/__snapshots__/ViewMode.spec.tsx.snap
  src/components/molecules/BrandSelect/BrandSelect.tsx
  src/components/molecules/ColorSelect/ColorSelect.tsx
  src/components/molecules/Modal/__test__/__snapshots__/modal.spec.tsx.snap
  src/components/molecules/Pagination/Pagination.stories.tsx
  src/components/molecules/Pagination/Pagination.tsx
  src/components/molecules/Pagination/utils.ts
  src/components/molecules/ProductItemBuy/ProductItemBuy.stories.tsx
  src/components/molecules/ProductItemBuy/ProductItemBuy.types.ts
  src/components/molecules/ProductItemBuy/__test__/ProductItemBuy.spec.tsx
  src/components/molecules/ProductItemBuy/__test__/__snapshots__/ProductItemBuy.spec.tsx.snap
  src/components/molecules/SizeSelect/SizeSelect.stories.tsx
  src/components/molecules/SizeSelect/SizeSelect.styled.ts
  src/components/molecules/SizeSelect/SizeSelect.tsx
  src/components/molecules/SizeSelect/SizeSelect.types.ts
  src/components/molecules/SizeSelect/__test__/__snapshots__/sizeSelect.spec.tsx.snap
  src/components/molecules/SizeSelect/__test__/sizeSelect.spec.tsx
  src/containers/organisms/ProductItem/ProductItem.stories.tsx
  src/containers/organisms/ProductItem/ProductItem.styled.tsx
  src/containers/organisms/ProductItem/ProductItem.tsx
  src/containers/organisms/ProductItem/ProductItem.types.ts
  src/containers/organisms/ProductItem/__test__/__snapshots__/ProductItem.spec.tsx.snap
  src/utils/type.ts
  tslint.json
Due: npm run lint, git add --force, prettier --write

ci: 🎡 add cache directory in ci
  .circleci/config.yml
Due: none

feat(atom/flag): atom flag
  src/components/atoms/Flag/Flag.mdx
  src/components/atoms/Flag/Flag.stories.tsx
  src/components/atoms/Flag/Flag.styled.ts
  src/components/atoms/Flag/Flag.tsx
  src/components/atoms/Flag/Flag.types.ts
  src/components/atoms/Flag/__test__/Image.spec.tsx
  src/components/atoms/Flag/__test__/__snapshots__/Image.spec.tsx.snap
  src/components/atoms/Flag/index.ts
  src/components/atoms/Flag/mock/icon-flag-gbr.png
  src/components/atoms/Flag/mock/index.ts
  src/components/atoms/Image/Image.styled.ts
  src/components/atoms/Rating/__test__/__snapshots__/Rating.spec.tsx.snap
Due: none
