Repository tuev/ec-temp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, git add --force, prettier --write, npm run stylelint:fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint",
    "git add --force"
  ],
  "*.json": [
    "prettier --write",
    "git add --force"
  ],
  "*.scss": [
    "npm run stylelint:fix",
    "git add --force"
  ]
}

feat: atom checkbox
  src/components/atoms/Checkbox/Checkbox.stories.mdx
  src/components/atoms/Checkbox/Checkbox.stories.tsx
  src/components/atoms/Checkbox/Checkbox.styled.ts
  src/components/atoms/Checkbox/Checkbox.tsx
  src/components/atoms/Checkbox/Checkbox.types.ts
  src/components/atoms/Checkbox/index.ts
  src/theme/colors.ts
Due: none

feat: atom radio
  src/components/atoms/Radio/Radio.stories.mdx
  src/components/atoms/Radio/Radio.stories.tsx
  src/components/atoms/Radio/Radio.styled.ts
  src/components/atoms/Radio/Radio.tsx
  src/components/atoms/Radio/Radio.types.ts
  src/components/atoms/Radio/index.ts
Due: none

feat: atom number
  src/components/atoms/Button/Button.styled.ts
  src/components/atoms/Button/Button.types.ts
  src/components/atoms/Checkbox/Checkbox.styled.ts
  src/components/atoms/Checkbox/Checkbox.types.ts
  src/components/atoms/NumberComp/NumberComp.stories.mdx
  src/components/atoms/NumberComp/NumberComp.stories.tsx
  src/components/atoms/NumberComp/NumberComp.styled.ts
  src/components/atoms/NumberComp/NumberComp.tsx
  src/components/atoms/NumberComp/NumberComp.types.ts
  src/components/atoms/NumberComp/index.ts
  src/components/atoms/Radio/Radio.styled.ts
  src/components/atoms/Radio/Radio.types.ts
Due: none

feat: atom rating
  package.json
  src/components/atoms/Rating/Rating.stories.mdx
  src/components/atoms/Rating/Rating.stories.tsx
  src/components/atoms/Rating/Rating.styled.ts
  src/components/atoms/Rating/Rating.tsx
  src/components/atoms/Rating/Rating.types.ts
  src/components/atoms/Rating/index.ts
Due: git add --force, prettier --write

feat: viewmode buttn
  src/components/atoms/ViewMode/ViewMode.stories.mdx
  src/components/atoms/ViewMode/ViewMode.stories.tsx
  src/components/atoms/ViewMode/ViewMode.styled.ts
  src/components/atoms/ViewMode/ViewMode.tsx
  src/components/atoms/ViewMode/ViewMode.types.ts
  src/components/atoms/ViewMode/index.ts
Due: none

fix: minor fix for styling + linting
  src/components/atoms/NumberComp/NumberComp.styled.ts
  src/components/atoms/ViewMode/ViewMode.styled.ts
Due: none

feat: atom input number
  src/components/atoms/NumberInput/NumberInput.stories.mdx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/NumberInput/NumberInput.styled.ts
  src/components/atoms/NumberInput/NumberInput.tsx
  src/components/atoms/NumberInput/NumberInput.types.ts
  src/components/atoms/NumberInput/index.ts
Due: none

feat: theme color palette
  src/theme/colors.ts
Due: none

feat: apply color theme provider into radio
  src/components/atoms/Button/Button.styled.ts
  src/components/atoms/Radio/Radio.stories.tsx
  src/components/atoms/Radio/Radio.styled.ts
  src/components/atoms/Radio/Radio.tsx
  src/components/atoms/Radio/Radio.types.ts
  src/components/atoms/ViewMode/ViewMode.styled.ts
  src/theme/colors.ts
Due: none

feat: add variant outer for Radio (using for color selection)
  src/components/atoms/Radio/Radio.stories.tsx
  src/components/atoms/Radio/Radio.styled.ts
  src/components/atoms/Radio/Radio.tsx
  src/components/atoms/Radio/Radio.types.ts
  src/theme/colors.ts
Due: none

feat: atom slider
  src/components/atoms/Radio/Radio.tsx
  src/components/atoms/Slider/Slider.stories.mdx
  src/components/atoms/Slider/Slider.stories.tsx
  src/components/atoms/Slider/Slider.styled.ts
  src/components/atoms/Slider/Slider.tsx
  src/components/atoms/Slider/Slider.types.ts
  src/components/atoms/Slider/index.ts
Due: none

feat: atom blog icon
  src/components/atoms/BlogIcon/BlogIcon.stories.mdx
  src/components/atoms/BlogIcon/BlogIcon.stories.tsx
  src/components/atoms/BlogIcon/BlogIcon.styled.ts
  src/components/atoms/BlogIcon/BlogIcon.tsx
  src/components/atoms/BlogIcon/BlogIcon.types.ts
  src/components/atoms/BlogIcon/index.ts
  src/theme/colors.ts
Due: none

feat: atom tag
  package.json
  src/components/atoms/Radio/Radio.types.ts
  src/components/atoms/Tag/Tag.stories.mdx
  src/components/atoms/Tag/Tag.stories.tsx
  src/components/atoms/Tag/Tag.styled.ts
  src/components/atoms/Tag/Tag.tsx
  src/components/atoms/Tag/Tag.types.ts
  src/components/atoms/Tag/index.ts
  src/theme/colors.ts
Due: git add --force, prettier --write

feat: atoms typography
  .storybook/config.js
  package.json
  src/App.tsx
  src/components/atoms/Radio/Radio.stories.tsx
  src/components/atoms/Radio/Radio.styled.ts
  src/components/atoms/Radio/Radio.tsx
  src/components/atoms/Radio/Radio.types.ts
  src/components/atoms/Rating/Rating.stories.tsx
  src/components/atoms/Tag/Tag.types.ts
  src/components/atoms/Typography/Typography.stories.tsx
  src/components/atoms/Typography/Typography.styled.ts
  src/components/atoms/Typography/Typography.tsx
  src/components/atoms/Typography/Typography.types.ts
  src/components/atoms/Typography/Typograpy.stories.mdx
  src/components/atoms/Typography/index.ts
  src/components/atoms/ViewMode/ViewMode.tsx
  src/index.tsx
Due: npm run lint, git add --force, prettier --write

fix: fix storyboook mode
  src/components/atoms/BlogIcon/BlogIcon.mdx
  src/components/atoms/BlogIcon/BlogIcon.stories.tsx
  src/components/atoms/Button/Button.mdx
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Checkbox/Checkbox.mdx
  src/components/atoms/Checkbox/Checkbox.stories.tsx
  src/components/atoms/NumberComp/NumberComp.mdx
  src/components/atoms/NumberComp/NumberComp.stories.tsx
  src/components/atoms/NumberInput/NumberInput.mdx
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/Radio/Radio.mdx
  src/components/atoms/Radio/Radio.stories.mdx
  src/components/atoms/Radio/Radio.stories.tsx
  src/components/atoms/Rating/Rating.mdx
  src/components/atoms/Rating/Rating.stories.tsx
  src/components/atoms/Slider/Slider.mdx
  src/components/atoms/Slider/Slider.stories.tsx
  src/components/atoms/Tag/Tag.mdx
  src/components/atoms/Tag/Tag.stories.tsx
  src/components/atoms/Typography/Typography.stories.tsx
  src/components/atoms/Typography/Typograpy.mdx
  src/components/atoms/ViewMode/ViewMode.mdx
  src/components/atoms/ViewMode/ViewMode.stories.tsx
Due: none

test: atom test
  .vscode/settings.json
  .vscode/testTemplate.code-snippets
  package.json
  src/App.tsx
  src/components/atoms/BlogIcon/__tests__/__snapshots__/blogIcon.spec.js.snap
  src/components/atoms/BlogIcon/__tests__/blogIcon.spec.js
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Button/__tests__/__snapshots__/button.spec.js.snap
  src/components/atoms/Button/__tests__/button.spec.js
  src/components/atoms/Checkbox/__test__/__snapshots__/checkbox.spec.js.snap
  src/components/atoms/Checkbox/__test__/checkbox.spec.js
  src/components/atoms/NumberComp/__test__/__snapshots__/numberComp.spec.js.snap
  src/components/atoms/NumberComp/__test__/numberComp.spec.js
  src/components/atoms/NumberInput/__test__/NumberInput.spec.js
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.js.snap
  src/components/atoms/Radio/__test__/Radio.spec.js
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.js.snap
  src/components/atoms/Rating/__test__/Rating.spec.js
  src/components/atoms/Rating/__test__/__snapshots__/Rating.spec.js.snap
  src/components/atoms/Slider/Slider.stories.tsx
  src/components/atoms/Slider/Slider.tsx
  src/components/atoms/Slider/Slider.types.ts
  src/components/atoms/Slider/__test__/Slider.spec.js
  src/components/atoms/Slider/__test__/__snapshots__/Slider.spec.js.snap
  src/components/atoms/Tag/__test__/Tag.spec.js
  src/components/atoms/Tag/__test__/__snapshots__/Tag.spec.js.snap
  src/components/atoms/Typography/__test__/Typography.spec.js
  src/components/atoms/Typography/__test__/__snapshots__/Typography.spec.js.snap
  src/components/atoms/ViewMode/__test__/ViewMode.spec.js
  src/components/atoms/ViewMode/__test__/__snapshots__/ViewMode.spec.js.snap
  src/setupTests.js
Due: npm run lint, git add --force, prettier --write

fix: remove only test in test file
  src/components/atoms/BlogIcon/__tests__/blogIcon.spec.js
  src/components/atoms/Tag/__test__/Tag.spec.js
  src/components/atoms/Typography/__test__/Typography.spec.js
Due: npm run lint, git add --force

fix: update spec file
  src/components/atoms/Checkbox/__test__/__snapshots__/checkbox.spec.js.snap
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.js.snap
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.js.snap
Due: none

test: change test file to tsx
  package.json
  src/components/atoms/BlogIcon/__tests__/__snapshots__/blogIcon.spec.tsx.snap
  src/components/atoms/BlogIcon/__tests__/blogIcon.spec.tsx
  src/components/atoms/Button/__tests__/__snapshots__/button.spec.tsx.snap
  src/components/atoms/Button/__tests__/button.spec.tsx
  src/components/atoms/Checkbox/__test__/__snapshots__/checkbox.spec.tsx.snap
  src/components/atoms/Checkbox/__test__/checkbox.spec.tsx
  src/components/atoms/NumberComp/__test__/__snapshots__/numberComp.spec.tsx.snap
  src/components/atoms/NumberComp/__test__/numberComp.spec.tsx
  src/components/atoms/NumberInput/__test__/NumberInput.spec.tsx
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.tsx.snap
  src/components/atoms/Radio/__test__/Radio.spec.tsx
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.tsx.snap
  src/components/atoms/Rating/__test__/Rating.spec.tsx
  src/components/atoms/Rating/__test__/__snapshots__/Rating.spec.tsx.snap
  src/components/atoms/Slider/Slider.types.ts
  src/components/atoms/Slider/__test__/Slider.spec.tsx
  src/components/atoms/Slider/__test__/__snapshots__/Slider.spec.tsx.snap
  src/components/atoms/Tag/__test__/Tag.spec.tsx
  src/components/atoms/Tag/__test__/__snapshots__/Tag.spec.tsx.snap
  src/components/atoms/Typography/__test__/Typography.spec.tsx
  src/components/atoms/Typography/__test__/__snapshots__/Typography.spec.tsx.snap
  src/components/atoms/ViewMode/__test__/ViewMode.spec.tsx
  src/components/atoms/ViewMode/__test__/__snapshots__/ViewMode.spec.tsx.snap
Due: git add --force, prettier --write

feat: update husky
  package.json
  src/components/atoms/Button/__tests__/button.spec.tsx
Due: git add --force, prettier --write

fix: fix test coverage
  .travis.yml
  package.json
  src/components/atoms/NumberComp/__test__/__snapshots__/numberComp.spec.tsx.snap
  src/components/atoms/NumberComp/__test__/numberComp.spec.tsx
  src/components/atoms/Radio/Radio.styled.ts
  src/components/atoms/Radio/Radio.tsx
  src/components/atoms/Radio/Radio.types.ts
  src/components/atoms/Radio/__test__/Radio.spec.tsx
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.tsx.snap
  src/components/atoms/Slider/Slider.tsx
  src/components/atoms/Slider/__test__/Slider.spec.tsx
  src/components/atoms/Slider/__test__/__snapshots__/Slider.spec.tsx.snap
  src/components/atoms/Tag/Tag.tsx
  src/components/atoms/Tag/__test__/Tag.spec.tsx
  src/components/atoms/Tag/__test__/__snapshots__/Tag.spec.tsx.snap
  src/components/atoms/ViewMode/ViewMode.tsx
  src/theme/colors.ts
Due: git add --force, prettier --write

feat: add ci
  .circleci/config.yml
  .travis.yml
  README.md
  package.json
  process.yml
  src/components/atoms/BlogIcon/__tests__/__snapshots__/blogIcon.spec.tsx.snap
  src/components/atoms/BlogIcon/__tests__/blogIcon.spec.tsx
  src/components/atoms/Radio/__test__/Radio.spec.tsx
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.tsx.snap
Due: git add --force, prettier --write

feat: update package
  package.json
  src/components/atoms/Radio/__test__/Radio.spec.tsx
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.tsx.snap
  src/setupTests.js
Due: npm run lint, git add --force, prettier --write

feat: update snapshot
  src/components/atoms/Checkbox/__test__/__snapshots__/checkbox.spec.tsx.snap
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.tsx.snap
  src/components/atoms/Radio/__test__/__snapshots__/Radio.spec.tsx.snap
Due: none

feat: add codecov
  .circleci/config.yml
  .codecove.yml
  .travis.yml
Due: none

feat: change config circle
  .circleci/config.yml
Due: none

ci: 🎡 update travis ci
  .travis.yml
  package.json
Due: git add --force, prettier --write

ci: 🎡 update travis + circle for codecov
  .circleci/config.yml
  .travis.yml
  package.json
Due: git add --force, prettier --write

ci: 🎡 update travis + circle for codecov
  .circleci/config.yml
  .codecov.yml
  .codecove.yml
  .travis.yml
  package.json
Due: git add --force, prettier --write

chore: 🤖 add commit script to package json
  .circleci/config.yml
  .codecov.yml
  .travis.yml
  package.json
Due: git add --force, prettier --write

feat(molecule/modal): modal feature
  src/components/molecules/Modal/Modal.mdx
  src/components/molecules/Modal/Modal.stories.tsx
  src/components/molecules/Modal/Modal.styled.ts
  src/components/molecules/Modal/Modal.tsx
  src/components/molecules/Modal/Modal.types.ts
  src/components/molecules/Modal/index.ts
Due: none

test: 💍 test Modal
  src/components/molecules/Modal/__test__/modal.spec.tsx
Due: none

chore: 🤖 add commit script to package json
  .circleci/config.yml
  .codecov.yml
  .travis.yml
  coverage.lcov
  package.json
Due: git add --force, prettier --write

fix: 🐛 fix conflict when merging with develop branch
  package.json
Due: git add --force, prettier --write

test: 💍 fix number input test
  src/components/atoms/NumberInput/__test__/NumberInput.spec.tsx
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.tsx.snap
  src/components/atoms/Radio/__test__/Radio.spec.tsx
Due: none

test: 💍 update snapshot for numberinput
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.tsx.snap
Due: none

test: 💍 update snapshot for numberinput
  .circleci/config.yml
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.tsx.snap
Due: none

style: 💄 fix styling for modal
  src/components/molecules/Modal/Modal.stories.tsx
  src/components/molecules/Modal/Modal.styled.ts
Due: none

test: 💍 update snapshot for modal
  src/components/molecules/Modal/__test__/__snapshots__/modal.spec.tsx.snap
Due: none

test: 💍 update test for number input
  src/components/atoms/NumberInput/__test__/NumberInput.spec.tsx
  src/components/atoms/NumberInput/__test__/__snapshots__/NumberInput.spec.tsx.snap
Due: none
