Repository tuev/ec-temp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run eslint, git add --force, prettier --write, npm run stylelint:fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint",
    "npm run eslint",
    "git add --force"
  ],
  "*.ts": [
    "npm run lint",
    "npm run eslint",
    "git add --force"
  ],
  "*.tsx": [
    "npm run lint",
    "npm run eslint",
    "git add --force"
  ],
  "*.json": [
    "prettier --write",
    "git add --force"
  ],
  "*.scss": [
    "npm run stylelint:fix",
    "git add --force"
  ]
}

fix: 🐛 fix type for react-spring
  src/components/molecules/ProductImageSlider/ProductImageSlider.styled.ts
  src/components/molecules/ProductImageSlider/ProductImageSlider.types.ts
  src/components/molecules/SearchBar/SearchBar.styled.ts
  src/components/molecules/SearchBar/SearchBar.types.ts
  src/containers/organisms/ProductItem/ProductItem.styled.tsx
Due: npm run lint, npm run eslint, git add --force

fix: 🐛 add some cheat to debug typescript bug of material-ui
  .vscode/settings.json
  package.json
  src/components/molecules/PriceSelect/PriceSelect.types.ts
  src/components/molecules/ProductImageSlider/ProductImageSlider.styled.ts
  src/components/molecules/ReviewItem/ReviewItem.stories.tsx
  src/components/molecules/SearchBar/SearchBar.styled.ts
  src/containers/organisms/ProductItem/ProductItem.styled.tsx
Due: npm run lint, npm run eslint, git add --force, prettier --write

ci: 🎡 config github action flow
  .github/workflows/nodejs.yml
Due: none

ci: 🎡 add package-lock.json
  package-lock.json
Due: git add --force, prettier --write

ci: 🎡 remove git action flow
  .github/workflows/nodejs.yml
Due: none
